<div class="container-fluid">
  <div class="row justify-content-center">
    
    <div class="col-md-8 project-list">
      <h1>All Projects</h1>

      <div>
        <%= simple_form_for :search, url: projects_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <form class="form-inline">
          <%= f.input :categories, collection: Project.categories, label: false,
           selected: session[:category] %>
          <%= f.submit "Search", class: 'btn btn-outline-success my-2 my-sm-0'%>
        <%end%>
        </form>
      </div>




      <ul>
        <% @projects.each do |project|%>

          <li> <!-- style="list-style-type: none" -->
            Project: <%= link_to project.name, project_path(project) %> (id: <%= project.id %>)<br>
            Full name: <%= project.owner[:first_name] + " " + project.owner[:last_name] %><br>
            Username: <%= project.owner[:username] %><br>
            Role: <%= project.owner[:role] %><br>
            Total funding: <%= project.total_funding %><br>
            Total shares: <%= project.total_shares %><br>
            Category: <%= project.category %><br>

            <span>
              <%= link_to edit_project_path(project) do %>
                <i class="far fa-edit"></i>
                <% end %>
            </span>
            <span>
              <%= link_to project_path(project),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
            </span>

            <hr>

          </li>

        <% end %>
      </ul>

    </div>
  </div>
</div>
