<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 project-list">
      <h1>Create a new project</h1>
      <%= simple_form_for @project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :total_funding, label: 'Funding Goal' %>
        <%= f.input :category, collection: ["Eliminate Poverty", "Erase Hunger", "Establish Good Health and Well-Being", "Provide Quality Education", "Enforce Gender Equality", "Improve Clean Water and Sanitation", "Grow Affordable and Clean Energy", "Create Decent Work and Economic Growth", "Increase Industry, Innovation, and Infrastructure", "Reduce Inequality", "Mobilize Sustainable Cities and Communities", "Influence Responsible Consumption and Production", "Organize Climate Action", "Develop Life Below Water", "Advance Life On Land", "Guarantee Peace, Justice, and Strong Institutions", "Build Partnerships for the Goals"].sort %>
		    <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


