<h1><%= @project.name %> (id: <%= @project.id %>)</h1>

  Full name: <%= @project.owner[:first_name] + " " + @project.owner[:last_name] %><br>
  Username: <%= @project.owner[:username] %><br>
  Role: <%= @project.owner[:role] %><br>
  Total funding: <%= @project.total_funding %><br>
  Total shares: <%= @project.total_shares %><br>
  Category: <%= @project.category %>



<div class="gap-150"></div>
<div class="container">
  <%= simple_form_for [ @project, @funding] do |f| %>
    <%= f.input :funding_amount %>
    <%= f.input :funding_shares %>
    <%= f.button :submit %>
  <%end %>

</div>
